PORT=5001
MONGO_URI=mongodb+srv://username:password@cluster0.677dw.mongodb.net/database?retryWrites=true&w=majority&appName=Cluster0

STEAM_API_KEY=your_api_key
STEAM_API_SECRET=XXXXXXXX

JWT_SECRET_KEY=hgasjhsdvcjvsdcvsv
NODE_ENV=development

GROQ_API_KEY=your_groq_api_key_here
